 #####################################################################
#   Filter
#####################################################################

[heater_fan nevermore]
##  Nevermore Fan - FAN2 Connector
pin: PC8
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0

#####################################################################
#   Chamber sensor and control
#####################################################################

[temperature_fan exhaust]
##  Exhaust fan
pin: PB2
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
cycle_time:0.01
off_below:0.1
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PB1
min_temp: 0
max_temp: 100
target_temp: 60.0
control: watermark
gcode_id: C

#####################################################################
#  LED Bar Control
#####################################################################

[output_pin caselight]
pin: PB3
pwm: true
shutdown_value: 0
cycle_time: 0.01
